<h1>Listing fights</h1>

<table>
  <tr>
    <th>Day of fight</th>
    <th>Fighter one</th>
    <th>Fighter two</th>
    <th>Winner</th>
    <th>Outcome</th>
    <th>Last round</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fights.each do |fight| %>
  <tr>
    <td><%= fight.day_of_fight %></td>
    <td><%= fight.fighter_one.try(:full_name) %></td>
    <td><%= fight.fighter_two.try(:full_name) %></td>
    <td><%= fight.winner.try(:full_name) %></td>
    <td><%= fight.outcome %></td>
    <td><%= fight.last_round %></td>
    <td><%= link_to 'Show', fight %></td>
    <td><%= link_to 'Edit', edit_fight_path(fight) %></td>
    <td><%= link_to 'Destroy', fight, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fight', new_fight_path %>
