<p id="notice"><%= notice %></p>




  <h2><%= @fight.fighter_one.try(:full_name) %> <small>vs</small> <%= @fight.fighter_two.try(:full_name) %></h2>

<p>
  <%= @fight.day_of_fight.to_formatted_s(:long_ordinal) %>
</p>
<%= simple_form_for(@pick) do |f| %>
  <%= f.input :fight_id, as: :hidden, input_html: {value: @fight.id} %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :winner, as: :radio_buttons, collection: @fighters.collect {|fighter| [ fighter.full_name, fighter.id] } %>
    <br />
    <%= f.input :outcome, as: :radio_buttons, collection: ['TKO', 'Submission', 'Leg Sqeeze'] %>
    <br />
    <%= f.input :last_round %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


<%= link_to 'Edit', edit_fight_path(@fight) %> |
<%= link_to 'Back', fights_path %>
